In [15]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

## Change username and password to match your personal MySQL Server settings
username = 'root' # default username for MySQL db is root
password = 'Cheshire143' # whatever password you chose during MySQL installation.

connection = f'mysql+pymysql://{username}:{password}@localhost/Chinook'
engine = create_engine(connection)

In [2]:
# Importing datasets from the IMDB website
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"

In [3]:
# Loading datasets into Pandas
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [34]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36666824 entries, 0 to 36666823
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.2+ GB

In [5]:
akas.region.unique()

array(['UA', 'DE', 'HU', 'GR', 'RU', 'US', '\\N', 'JP', 'FR', 'RO', 'GB',
       'CA', 'PT', 'AU', 'ES', 'FI', 'PL', 'AR', 'RS', 'UY', 'IT', 'BR',
       'DK', 'TR', 'XWW', 'XEU', 'SK', 'CZ', 'SE', 'NZ', 'MX', 'NO',
       'XYU', 'AT', 'VE', 'CSHH', 'SI', 'SUHH', 'IN', 'CN', 'LT', 'TW',
       'NL', 'CO', 'IR', 'BG', 'SG', 'BE', 'VN', 'HR', 'PH', 'DZ', 'CH',
       'BF', 'XWG', 'HK', 'XSA', 'EC', 'EE', 'IS', 'PR', 'DDDE', 'IL',
       'EG', 'XKO', 'CL', 'IE', 'JM', 'KR', 'PE', 'GE', 'BY', 'BA', 'AE',
       'PA', 'TH', 'ZA', 'TJ', 'XSI', 'MY', 'LV', 'ID', 'PK', 'BD', 'CU',
       'AL', 'BO', 'XAS', 'CR', 'PY', 'DO', 'GT', 'SV', 'UZ', 'BUMM',
       'YUCS', 'XPI', 'BJ', 'AZ', 'SY', 'NG', 'CM', 'MA', 'GL', 'MN',
       'LI', 'LU', 'MZ', 'BM', 'KZ', 'MD', 'LB', 'IQ', 'TM', 'MK', 'TN',
       'HT', 'AM', 'LK', 'ME', 'CG', 'CI', 'NP', 'QA', 'TO', 'SN', 'GH',
       'JO', 'KP', 'KG', 'NE', 'GN', 'VDVN', 'TD', 'SO', 'SD', 'MC', 'TT',
       'GA', 'BS', 'LY', 'AO', 'KH', 'MR', 'AF', 'MG', 'ML', 'GY', 'CY',
       'ET', 'GU', 'SR', 'MT', 'TG', 'PG', 'MU', 'BI', 'CF', 'NI', 'ZW',
       'ZM', 'GW', 'DJ', 'RW', 'TZ', 'GI', 'LA', 'SC', 'GP', 'XAU', 'FO',
       'PS', 'ZRCD', 'MO', 'AW', 'KW', 'CV', 'SL', 'SM', 'CD', 'BT', 'LS',
       'HN', 'KE', 'MQ', 'AD', 'ER', nan, 'MM', 'SA', 'CSXX', 'IM', 'XKV',
       'BH', 'BB', 'BZ', 'UG', 'AG', 'NU', 'OM', 'BW', 'LR', 'AN', 'MV',
       'YE', 'GM', 'KY', 'NC', 'DM', 'TL', 'MP', 'VA', 'GQ', 'FJ', 'SZ',
       'RE', 'EH', 'PF', 'VG', 'LC', 'MW', 'BN', 'ST', 'KM', 'FM', 'AI',
       'GD', 'VI', 'SB', 'GF', 'AQ', 'MH', 'CW', 'WS', 'VC', 'AS', 'XNA',
       'MS', 'VU', 'SH', 'KI', 'KN', 'CC', 'TC', 'TV', 'CK', 'PW', 'NR',
       'JE'], dtype=object)

In [35]:
# Keep only US movies for AKAs
akas2 = akas.loc[akas['region'] == 'US']

In [36]:
# Replace "\N" with np.nan for AKAs
akas3 = akas2.replace({'\\N':np.nan})

In [37]:
# Filter Basics using the AKAs dataframe
keepers =basics['tconst'].isin(akas['titleId'])
keepers

0            True
1            True
2            True
3            True
4            True
            ...
10034106     True
10034107     True
10034108     True
10034109     True
10034110    False
Name: tconst, Length: 10034111, dtype: bool

In [38]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
10034105,tt9916846,tvEpisode,Episode #3.18,Episode #3.18,0,2009,\N,\N,"Action,Drama,Family"
10034106,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family"
10034107,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
10034108,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
10034109,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short

In [39]:
# Replace "\N" with np.nan for Basics
basics = basics.replace({'\\N':np.nan})

In [40]:
# Remove movies with null values in runtimeMinutes in Basics
basics = basics.dropna(subset = ['runtimeMinutes'], inplace = True)

None

In [41]:
# Remove movies with null values in genre in Basics
basics = basics.dropna(subset=['genre'])

AttributeError: 'NoneType' object has no attribute 'dropna'

In [42]:
# Keep only titleType==Movie in Basics
basics = basics.loc[basics['titleType'] == 'Movie']

AttributeError: 'NoneType' object has no attribute 'loc'

In [43]:
# Convert startYear to float in Basics
basics6 = basics6.astype(int)

NameError: name 'basics6' is not defined

In [44]:
# Filter only movies with startYears from 2000 to 2021 in Basics
basics7 = basics6.loc[(basics6.startYears >= "2000") & (basics6.startYears <= "2021")]

NameError: name 'basics6' is not defined

In [45]:
# Remove movies with documentary genre in Basics
is_documentary = basics7['genres'].str.contains('documentary',case=False)
basics8 = basics7[~is_documentary]

NameError: name 'basics7' is not defined

In [46]:
# Filter Ratings using the Basics dataframe
ratings2 =ratings['tconst'].isin(basic8['titleId'])
ratings2

NameError: name 'basic8' is not defined

In [47]:
# Replace "\N" with np.nan for Ratings
ratings3 = ratings2.replace({'\\N':np.nan})

NameError: name 'ratings2' is not defined

In [48]:
akas3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1454192 entries, 5 to 36666568
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1454192 non-null  object
 1   ordering         1454192 non-null  int64
 2   title            1454192 non-null  object
 3   region           1454192 non-null  object
 4   language         4045 non-null     object
 5   types            981984 non-null   object
 6   attributes       47110 non-null    object
 7   isOriginalTitle  1452850 non-null  object
dtypes: int64(1), object(7)
memory usage: 99.9+ MB

In [49]:
basics8.info()

NameError: name 'basics8' is not defined

In [ ]:
ratings3.info()

In [ ]:
## Save dataframes to csvs
akas3.to_csv("Data/akas.csv.gz",compression='gzip',index=False)
basics8.to_csv("Data/basics.csv.gz",compression='gzip',index=False)
ratings3.to_csv("Data/ratings.csv.gz",compression='gzip',index=False)

In [ ]:
# Open saved file and preview again
akas_new = pd.read_csv("Data/akas.csv.gz", low_memory = False)
akas_new.head()

In [ ]:
# Open saved file and preview again
basics_new = pd.read_csv("Data/basics.csv.gz", low_memory = False)
basics_new.head()

In [ ]:
# Open saved file and preview again
ratings_new = pd.read_csv("Data/ratings.csv.gz", low_memory = False)
ratings_new.head()